<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link href="//db.onlinewebfonts.com/c/f16b07c3fd5b4fd150cc55daa3a12428?family=Bebas+Neue+Book" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        body div img {
            width: 100%;
        }
    </style>
</head>
<body style="font-family: 'Bebas Neue Book'; max-width: 600px; margin-left: auto; margin-right: auto;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <a href="https://www.nomadsport.kg/">
                    <img src="https://i.ibb.co/zb8vBPC/Logo-2.png" alt="Logo-2" border="0" style="width: 200px; height: auto;">
                </a>
            </td>
            <td align="center">
                <div>
                    <img src="https://i.ibb.co/DV2FYSy/1-2.png" alt="photo-2019-08-05-17-15-48" border="0" style="margin-left: 35px; width: 400px; height: auto;">
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <div style='font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif'>
        {{ message }}
    </div>
    <br/>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
            <tr>
                <td>
                    <img src="https://i.ibb.co/XF9n8sh/1-1.png" alt="photo-2019-08-05-17-15-49" border="0">
                </td>
            </tr>
        </table>
    </div>
    <script src="https://kit.fontawesome.com/8f62c5342c.js"></script>
<!--<a href="https://ibb.co/k03Cwqz"><img src="https://i.ibb.co/zb8vBPC/Logo-2.png" alt="Logo-2" border="0"></a>-->
<!--<a href="https://ibb.co/Tv9HhJD"><img src="https://i.ibb.co/r7DZyqK/photo-2019-08-05-17-15-48.jpg" alt="photo-2019-08-05-17-15-48" border="0"></a>-->
<!--<a href="https://ibb.co/cXyDgJn"><img src="https://i.ibb.co/Kz5F06v/photo-2019-08-05-17-15-49.jpg" alt="photo-2019-08-05-17-15-49" border="0"></a>-->
<!--<a href="https://ibb.co/tYS0Xs7"><img src="https://i.ibb.co/XF9n8sh/1-1.png" alt="1-1" border="0"></a>-->
<!--<a href="https://ibb.co/p0FTQ98"><img src="https://i.ibb.co/DV2FYSy/1-2.png" alt="1-2" border="0"></a>-->
</body>

</html>