<!DOCTYPE html>
<html lang="en" xmlns:background-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <link href="//db.onlinewebfonts.com/c/f16b07c3fd5b4fd150cc55daa3a12428?family=Bebas+Neue+Book" rel="stylesheet" type="text/css"/>
</head>
<body style="font-family: 'Bebas Neue Book'; max-width: 600px; margin-left: auto; margin-right: auto;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <a href="https://www.nomadsport.kg/">
                    <img src="https://i.ibb.co/zb8vBPC/Logo-2.png" alt="Logo-2" border="0" style="width: 200px; height: auto;">
                </a>
            </td>
            <td align="center">
                <div>
                    <img src="https://i.ibb.co/DV2FYSy/1-2.png" alt="photo-2019-08-05-17-15-48" border="0" style="margin-left: 35px; width: 375px; height: auto;">
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <div style='font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif'>
        {{ message }}
    </div>
    <br/>
    <div>
        <table
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="100%"
                style='
                 background-size: 605px auto;
                 background-image: url("https://i.ibb.co/WFsYJrd/Group-2.png");
                 background-repeat: no-repeat'
        >
            <tr align="center">
                <td>
                    <a href="https://www.nomadsport.kg/" style="color: #382B26; text-decoration: none;">
                        <h2>
                            WWW.NOMADSPORT.NET
                        </h2>
                    </a>
                </td>
                <td>
                    <h4 style="color: whitesmoke;">Подписывайся в социальных сетях</h4>
                </td>
                </td>
            </tr>
            <tr align="center">
                <td>
                    <h4 style="color: whitesmoke; position: relative; top: -30px;">+996779583738</h4>
                </td>
                <td>
                    <span style="color: whitesmoke; position: relative; top: -30px;">
                        <h2 style="color: #382B26;">
                            <a href="https://www.facebook.com/nomadsportkg" style="color: #382B26; text-decoration: none; font-weight: bold">
                                <img src="https://i.ibb.co/fpPQGgP/facebook-logo.png" width="20px" height="auto"><img/>
                            </a>
                            <a href="https://www.instagram.com/nomadsportkg/" style="color: #382B26; text-decoration: none; font-weight: bold">
                                <img src="https://i.ibb.co/p3hWYVR/instagram.png" width="20px" height="auto"/>
                            </a>
                            NOMADSPORTKG
                        </h2>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <small style="font-family: auto; color: #5a7b8c">
    <div >Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </small>
</body>

</html>